.App {
  width: 800px;
  height: 100%;
  margin: auto;
  text-align: center;
}

h1 {
  font-size: 3rem;
  font-weight: inherit;
}

.input-form {
  margin: 0;
  padding: 0;
}

.input-form input {
  width: 80%;
  height: 20px;
  padding: 0;
  margin: 0;
}

.input-form button {
  width: 15%;
  height: 24px;
  padding: 0;
  margin: 0;
}

.card {
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid gray;
  border-radius: 6px;
  background-color: rgb(201, 240, 245);
}

.temperature {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  margin: 20px;
}

.icon {
  margin: 10px 10px;
  text-align: center;
  width: 50px;
  height: 50px;
  /* background-color: blue; */
}